.story{
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: rgba($color-white, .6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);
  // clip-path: polygon(10% 0%, 100% 0%, 75% 100%, 0% 100%);
 
  &:hover{
    .story__caption{
      translate: -50% -50%; 
      opacity: 1 !important;
    }
    .story__img{
      scale: 1;
      filter: blur(3px) brightness(80%);
    }
  }

  &>*{
    transform: skewX(12deg);
  }

  &__shape{
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    translate: -3rem 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img{
    height: 100%;
    scale: 1.4;
    // translate: -4rem;
    transition: all .5s;
  }

  &__caption{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% 20%;
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    transition: all .5s;
    opacity: 0;
    backface-visibility: hidden;
  } 
}